<!--
<div class="bg">
	<div class="shade"></div>
</div>
-->
	
<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="home">Project</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
		<a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
	  </li>
	  <li *ngIf="!localStorage.get('token')" class="nav-item">
		<a class="nav-link" href="user/signup">Sign Up</a>
	  </li>
	  <li *ngIf="!localStorage.get('token')" class="nav-item">
		<a class="nav-link disabled" href="user/signin">Sign In</a>
	  </li>
	  <li *ngIf="localStorage.get('token')" class="nav-item">
		<a class="nav-link disabled" href="user/signout">Sign Out</a>
	  </li>
	  <!--<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
		<div class="dropdown-menu" aria-labelledby="dropdown01">
		  <a class="dropdown-item" href="#">Option one</a>
		  <a class="dropdown-item" href="#">Option two</a>
		  <a class="dropdown-item" href="#">Option three</a>
		</div>
	  </li>-->
	</ul>
  </div>
</nav>


<!-- Page Content -->
<div class="container-fluid">
	<router-outlet></router-outlet>
</div>
