<div *ngFor="let a of events" class="card" style="width: 26rem;float:left;padding:10px">
  <img class="card-img-top" width="250rem" src="http://localhost/project/public/api/{{a.poster}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{a.name}}</h4>
    <p class="card-text">{{a.description}}</p>
    <a href="event/{{a.id}}" class="btn btn-primary">Event Visualization</a>
  </div>
</div>
