<!--Anuglar method to invoke on form submit-->
<form (ngSubmit)="save()">
	<label>Name</label>
	<input type="text" name="name" [(ngModel)]="user.name">
	<label>Email</label>
	<input type="email" name="email" [(ngModel)]="user.email">
	<label>Password</label>
	<input type="password" name="password" [(ngModel)]="user.password">
	<label>Confirm Password</label>
	<input type="password" name="password_confirmation" [(ngModel)]="user.password_confirmation">
	
	<input type="submit">
</form>