<p class="bg-success" *ngIf="success">{{success}}</p>
<p class="bg-danger" *ngFor="let e of error | jsonObject">{{e.value}}</p>
<form (ngSubmit)="addEvent()">
	<div class="form-group">
		<label class="col-2 col-form-label">Event Name</label>
		<div class="col-10">
			<input class="form-control" [(ngModel)]="event.name" name="name" type="text" placeholder="My Event">
		</div>
	</div>
	<div class="form-group">
		<label for="textarea">Event Description</label>
		<textarea class="form-control" [(ngModel)]="event.description" name="description" id="textarea" rows="3"></textarea>
	</div>
	<div class="form-group">
		<label class="col-2 col-form-label">Start Date</label>
		<div class="col-10">
			<input class="form-control" [(ngModel)]="event.start_date" name="start_date" type="datetime-local">
		</div>
	</div>
	<div class="form-group">
		<label class="col-2 col-form-label">End Date</label>
		<div class="col-10">
			<input class="form-control" [(ngModel)]="event.end_date" name="end_date" type="datetime-local">
		</div>
	</div>
	<div class="form-group">
		<label class="col-2 col-form-label">Event Location</label>
		<div class="col-10">
			<input disabled class="form-control" [(ngModel)]="location" name="location" type="text" placeholder="48.632908, -11.689453">
		</div>
	</div>
	<h3>Hall Specification</h3>
	
	<div class="form-group">
		<label class="col-2 col-form-label">Number of Columns</label>
		<div class="col-10">
			<input class="form-control" [(ngModel)]="event.columns" name="columns" type="number" placeholder="6">
		</div>
	</div>
	<div class="form-group">
		<label class="col-2 col-form-label">Number of Rows</label>
		<div class="col-10">
			<input class="form-control" [(ngModel)]="event.rows" name="rows" type="number" placeholder="5">
		</div>
	</div>
	<div class="form-group">
		<label for="inputFile">File input</label>
		<input type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp" name="poster" accept=".jpeg,.png,.jpg">
		<small id="fileHelp" class="form-text text-muted">Provide a poster/image of an event</small>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>