<div class="col-sm-3" *ngFor="let stand of stands">
	<div class="card-bg" [ngStyle]="{'background-image': 'url(http://localhost/my-app/project/public/api/'+stand?.preview+')'}">
	</div>
	<div class="card">
		<canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
		<div class="avatar">
			<img src="http://localhost/my-app/project/public/api/{{stand?.logo}}" alt="{{stand?.company}}" />
		</div>
		<div class="content">
			<p>{{stand?.company}}</p>
			<p><a href="visitor/{{stand?.id}}" class="btn btn-default">Manage visitors</a></p>
		</div>
	</div>
</div>
<div class="col-md-1"></div>