<div class="thumbnail" style="width:210px;height:260px;margin: 4px;">
      <img *ngIf="detail?.preview" class="card-img-top" style="height:150px" src="http://localhost/my-app/project/public/api/{{detail?.preview}}" alt="Card image cap">
      <img *ngIf="!isAdmin && !detail?.price" class="card-img-top" style="height:150px" src="http://localhost/my-app/project/public/api/public/event_images/not-available.jpg" alt="Card image cap">
      <div class="caption">
			<img *ngIf="detail?.logo" width="40px" src="http://localhost/my-app/project/public/api/{{detail?.logo}}" alt="company logo">
			<strong *ngIf="detail?.company">{{detail?.company}}</strong>
			<small *ngIf="isAdmin && !detail?.price">Make this stand available for booking.</small>
			<small *ngIf="!detail?.company && detail?.price">Stand Available</small>
		
        <p><a *ngIf="detail?.document" href="http://localhost/my-app/project/public/api/{{detail?.document}}">Brochure</a></p>
		
		<div class="file-div" *ngIf="isAdmin && !detail?.price">
			<label for="preview-input" class="col-2 col-form-label">Stand Preview</label>
			<input type="file" class="form-control-file" id="preview-input" aria-describedby="previewFileHelp" name="preview" accept=".jpeg,.png,.jpg">
			<small id="previewFileHelp" class="form-text text-muted">Provide a preview image of a stand</small>
		</div>
		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<div *ngIf="detail?.price || isAdmin" class="input-group-addon">${{detail?.price}}</div>
			<input *ngIf="isAdmin && !detail?.price" type="text" class="form-control" placeholder="Price">
		</div>
		
			<a *ngIf="isAdmin && !detail?.price" href="javascript:void(0)" (click)="addStand($event)" class="btn btn-primary">
				Make Available
			</a>
			<a *ngIf="!isAdmin && !detail?.company && detail?.price" href="/stand/{{detail?.id}}" class="btn btn-primary">
				Book Stand
			</a>
		
		
      </div>
    </div>


  
  
    
  
