<table border="0">
	<tr *ngFor="let row of event?.rows | numberLoop; let r = index">
		<td *ngFor="let column of event?.columns | numberLoop; let c = index">
			
				<app-stand [detail]="stands[r+'-'+c]" [row]="r" [column]="c" [event_id]="id" [isAdmin]="this.localStorage.get('is_admin')"></app-stand>
			
		</td>
	</tr>
</table>
