<div class="row">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-4">
		<h3>Visitor's Log</h3>
		<b>Note: </b><small>Kindly add the visitor's required information for future tracking.</small>
		<br/>
		<br/>
		<br/>
		<p class="bg-danger" *ngFor="let e of error | jsonObject">{{e.value}}</p>
		<p class="bg-success" *ngIf="success">{{success}}</p>
		<form (ngSubmit)="addVisitor()">
			<div class="form-group row">
			  <label for="name-input" class="col-2 col-form-label">Name</label>
			  <div class="col-10">
				<input class="form-control" [(ngModel)]="visitor.name" type="text" placeholder="John Doe" name="name" id="name-input">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="email-input" class="col-2 col-form-label">Email</label>
			  <div class="col-10">
				<input class="form-control" type="email" [(ngModel)]="visitor.email" name="email" placeholder="john@gmail.com" id="email-input">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="occupation-input" class="col-2 col-form-label">Occupation</label>
			  <div class="col-10">
				<input class="form-control" type="text" [(ngModel)]="visitor.occupation" name="occupation" placeholder="Software Engineer" id="occupation-input">
			  </div>
			</div>

			<div class="form-group row">
			  
				<button type="submit" class="btn btn-primary">Add Visitor</button>
			  
			  
				<a href="javascript:void(0);" (click)="sendEmail()" class="btn btn-primary">Send Visitor Log to Admin</a>
			  
			</div>
		</form>
	</div>
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-2">
		<div class="col-10"><h3>Visitor's List:</h3></div>
		<div *ngFor="let v of visitors" class="col-10">{{v.name}}({{v.email}}): {{v.occupation}}</div>
	</div>
</div>