<form (ngSubmit)="login()">
	<label>Email</label>
	<!-- [(ngModel)] banana in the box binding for two way binding -->
	<input type="email" name="email" [(ngModel)]="user.email">
	<label>Password</label>
	<input type="password" name="password" [(ngModel)]="user.password">
	
	<input type="submit">
</form>