<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Let's Book Stand..!</h3>
		<b>Note: </b><small>You are about to book a stand on the position at {{stand?.cell_col+1}} column in {{stand?.cell_row+1}} row</small>
		<br/>
		<br/>
		<br/>
		<p class="bg-danger" *ngFor="let e of error | jsonObject">{{e.value}}</p>
		<form (ngSubmit)="bookStand()">
			<div class="form-group row">
			  <label for="company-input" class="col-2 col-form-label">Company</label>
			  <div class="col-10">
				<input class="form-control" [(ngModel)]="stand.company" type="text" placeholder="Google Inc." name="company" id="company-input">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="email-input" class="col-2 col-form-label">Email</label>
			  <div class="col-10">
				<input class="form-control" type="email" [(ngModel)]="stand.email" name="email" placeholder="google@gmail.com" id="email-input">
			  </div>
			</div>
			<div class="form-group  row">
				<label for="document-input" >Marketing Document</label>
				<input type="file" class="form-control-file" id="document-input" aria-describedby="docFileHelp" name="document" accept=".doc,.docx,.pdf">
				<small id="docFileHelp" class="form-text text-muted">Provide a marketing document of a company</small>
			</div>
			<div class="form-group row">
				<label for="logo-input" class="col-2 col-form-label">Company Logo</label>
				<input type="file" class="form-control-file" id="logo-input" aria-describedby="logoFileHelp" name="logo" accept=".jpeg,.png,.jpg">
				<small id="logoFileHelp" class="form-text text-muted">Provide a company logo for a stand</small>
			</div>

			<div class="form-group row">
			  <div class="col-10">
				<button type="submit" class="btn btn-primary">Book Stand</button>
			  </div>
			</div>
		</form>
	</div>
</div>