<style>
.gmap {
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
}
</style>
<div class="row">
	<div class="col-md-12">
		<agm-map class="gmap" [disableDefaultUI]="false"
			  [zoomControl]="false" [zoom]="zoom" [latitude]="lat" [longitude]="lng"
			  (mapClick)="mapClicked($event)">
		  <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.latitude" [longitude]="m.longitude" [markerDraggable]="m.draggable" (dragEnd)="updateMarker(m, $event)">
			<agm-info-window>
			  {{m.description}}
			</agm-info-window>
		  </agm-marker>
		</agm-map>
	</div>
</div>
<div class="row">
	<div *ngIf="localStorage.get('is_admin')" class="col-md-4">
		<h3>Add New Event</h3>
		<b>Note: </b><small>To create an event you first click on map to drop marker on location.</small>
		<br/>
		<app-add-event-form [location]="eventLatLng"></app-add-event-form>
	</div>
	<div *ngIf="!localStorage.get('is_admin')" class="col-md-6">
		<app-list-stand></app-list-stand>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<app-list-event></app-list-event>
	</div>
</div>